# django
SECRET_KEY="django-insecure-$j*c@7gbp*g83lb7h2y=xac640d!8z$cz=$wto!57hn!v2lm^%"
DEBUG=True

# database
PG_HOST=localhost
PG_PORT=5432
PG_USER=tray
PG_PWD=tray
PG_DBNAME=catalog_db

# cache
CACHE_ENABLED=True
REDIS_LOCATION=redis://localhost:6379/1

# email
EMAIL_HOST=it.ivc.vsmpo.ru
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@it.ivc.vsmpo.ru

#notifications
NOTIFICATION_THRESHOLD=10
NOTIFICATION_EMAIL_ADDRESS=at-box@mail.ru

# forms filter settings
FORBIDDEN_WORDS=казино,криптовалюта,крипта,биржа,дешево,бесплатно,обман,полиция,радар
PRODUCT_IMAGE_FILE_MAX_SIZE=5
