# django
SECRET_KEY=your_django_project_secret_key
DEBUG=your_django_project_debug_setting #True/False

# database
PG_HOST=your_postgresql_host_name_or_ip_address
PG_PORT=your_postgresql_post
PG_USER=your_postgresql_user
PG_PWD=your_postgresql_users_password
PG_DBNAME=your_django_project_database_name

EMAIL_HOST=smtp_server
EMAIL_PORT=smtp_server_port
# EMAIL_USE_TLS=smtp_server_tls
EMAIL_HOST_USER=your_mail_user
EMAIL_HOST_PASSWORD=your_mail_user_password
NOTIFICATION_THRESHOLD=number_of_views_to_send_notification
NOTIFICATION_EMAIL_ADDRESS=your_email_for_notifications

FORBIDDEN_WORDS=list_of_words_not_allowed_in_product_name_or_description_per_comma
