<nav class="navbar navbar-expand">
    <div class="container-fluid">
        <h5 class="navbar-brand my-0 mr-md-auto font-weight-normal">Skystore</h5>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav me-auto">
                <a class="btn btn-outline-primary p-2 mx-1" href="{% url 'catalog:home' %}">Каталог</a>
                <a class="btn btn-outline-primary p-2 mx-1" href="{% url 'blog:blog' %}">Блог</a>
                <a class="btn btn-outline-primary p-2 mx-1" href="{% url 'catalog:contacts' %}">Контакты</a>
            </div>
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <span>Вы вошли как: {{ user }}</span>
                    <a class="btn btn-outline-primary p-2 mx-1" href="{% url 'blog:blog' %}">Выйти</a>
                {% else %}
                    <a class="btn btn-outline-primary p-2 mx-1" href="{% url 'catalog:contacts' %}">Войти</a>
                    <a class="btn btn-outline-primary p-2 mx-1" href="{% url 'users:register' %}">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

