{% extends "catalog/base.html" %}
{% load static %}

{% block title %}Skystore: {{product.product_name}}{% endblock %}

{% block content %}
<div class="row mt-5">
    {% if product.image %}
    <div class="col-4">
        <img class="img-thumbnail" src="{{ product.image.url }}" alt="{{ product.product_name }}">
    </div>
    {% else %}
    <div class="col-4">
        <img class="img-thumbnail" src="{% static 'images/no_image.png' %}" alt="{{ product.product_name }}">
    </div>
    {% endif %}
    <div class="col-1"></div>
    <div class="col-7">
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Название продукта:</h6>
                </div>
                <span class="text-secondary">{{ product.product_name }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Категория:</h6>
                </div>
                <span class="text-secondary">{{ product.product_category }}</span>
            </li>
            <li class="list-group-item lh-sm">
                <div>
                    <h6 class="my-0">Описание продукта:</h6>
                    <span class="text-secondary mt-5">{{ product.product_description }}</span>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
                <div>
                    <h6 class="my-0">Цена:</h6>
                    <span class="text-secondary">$ {{ product.price }}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <a class="btn btn-lg btn-block btn-outline-primary mt-3 w-auto" role="button" href="{% url 'catalog:home' %}">Назад</a>
</div>
{% endblock %}
