{% extends "catalog/base.html" %}

{% block title %}
{% if product %}
Skystore: изменение продукта
{% else %}
Skystore: добавление продукта
{% endif %}
{% endblock %}

{% block content %}
{% if product %}
<h1>Изменение продукта</h1>
{% else %}
<h1>Добавление нового продукта</h1>
{% endif %}

<div class="card">
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group mb-2">
                {{ field.errors }}
                <h6 class="my-1">{{ field.label_tag }}</h6>
                {{ field }}
                {% if field.help_text %}
                <div class="text-secondary">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
            {% endfor%}
            <button class="btn btn-lg btn-block btn-outline-primary w-auto" type="submit">Добавить</button>
            <a class="btn btn-lg btn-block btn-outline-primary w-auto ms-2" role="button"
               href="{{ request.META.HTTP_REFERER|default:'/' }}">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}
